@font-face {
  font-family: 'HKGrotesk';
  src: local('HKGrotesk'), url(./fonts/HKGrotesk.otf) format('opentype');
}
@font-face {
  font-family: 'HKGrotesk-Bold';
  src: local('HKGrotesk-Bold'), url(./fonts/HKGrotesk-Bold.otf) format('opentype');
}
* {
  font-family: 'HKGrotesk';
  font-size: 16px;
}

:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.header {
  background-color: #250B38;
  border-radius: 4px;
  padding: 12px;
}

.expensesNav {
  display: flex;
  justify-content: space-between;
}

.btn {
    height: 38px;
    width: 125px;
    font-family: 'HKGrotesk-Bold';
    letter-spacing: 0;
    line-height: 21px;
    text-align: center;
    border-radius: 19px;
    color: white;
    border: solid 2px #F0A023;
}
.btn-outlined {
  background-color: transparent;
}

.font-small {
  font-size: 14px;
}

.font-large {
  font-size: 20px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
